#include <windows.h>
1 ICON "app.ico"
1 RT_MANIFEST "app.manifest"

1 VERSIONINFO
FILEVERSION 1,2,15,0
PRODUCTVERSION 1,2,15,0
FILEFLAGSMASK 0x3fL
FILEOS 0x40004L
FILETYPE 0x1L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "upcyan"
      VALUE "FileDescription", "WindowsExtendQuickSetting Native"
      VALUE "FileVersion", "1.2.15.0"
      VALUE "ProductName", "WindowsExtendQuickSetting"
      VALUE "ProductVersion", "1.2.15.0"
      VALUE "OriginalFilename", "WindowsExtendQuickSetting.Native.exe"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END













